<!DOCTYPE html>
<html>

<head>
    <title>AI Q&A Bot</title>

    <link rel="stylesheet" href="/static/style.css">

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">

        <div class="logo">
            🤖 AI Q&A Bot
        </div>

        <button class="new-chat" onclick="newChat()">
            + New Chat
        </button>

        <div class="history-title">
            Recent Chats
        </div>

        <div id="history">
            <div class="history-item">Welcome Chat</div>
        </div>

    </div>

    <!-- Main Content -->
    <div class="main-content">

        <div class="header">
            AI Assistant
        </div>

         <!-- Floating Robot -->
    <img src="/static/pngwing.com.png" class="robot-img" alt="AI Robot">

        <div id="chatbox"></div>

        <div class="input-area">

            <input
                id="userInput"
                type="text"
                placeholder="Message AI Assistant..."
            >

            <button
                class="send-btn"
                onclick="sendMessage()">
                Send
            </button>

        </div>

    </div>

    <script src="/static/script.js"></script>

</body>
</html>